@charset "UTF-8";
body {
	background-color: #FFFFFF;
}
button, .button {
	 background-color: #0094FF;
}

 button:hover, button:focus, .button:hover, .button:focus {
background-color: #77C6FF; }

.orange{
	background-color: #FF6A00;
}

.orange:hover, .orange:focus{
	background-color: #FFA970;
}

.orbit-slide-number{
	color: rgba(51, 51, 51, 0.8);;
}